<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.wdoctor"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="15" />
    
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
         >
        <activity
            android:name="com.test.wdoctor.Appstart"
            android:label="@string/title_activity_main"
            android:theme="@style/Anim_style2" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.test.wdoctor.WhatsnewDoor" android:theme="@style/Anim_style2" />
        <activity android:name="com.test.wdoctor.MainWeixin" android:theme="@style/Anim_style2" />
        <activity android:name="com.test.wdoctor.Login"  android:theme="@android:style/Theme.NoTitleBar" />        
        <activity android:name="com.test.wdoctor.Welcome"  android:theme="@style/Anim_style2"  />
        <activity android:name="com.test.wdoctor.Whatsnew"  android:theme="@style/Anim_style2" />
        <activity android:name="com.test.wdoctor.ChatActivity"  android:theme="@android:style/Theme.NoTitleBar" />
        <activity android:name="com.test.wdoctor.ShakeActivity"  android:theme="@android:style/Theme.NoTitleBar" />
        <activity android:name="com.test.wdoctor.InfoXiaohei"  android:theme="@android:style/Theme.NoTitleBar" />
        <activity android:name="Exit" android:theme="@style/MyDialogStyle" />        
        <activity android:name="ExitFromSettings" android:theme="@style/MyDialogStyleBottom" /> 
        <activity android:name="InfoXiaoheiHead" android:theme="@style/HeadScale" />
        <activity android:name="LoadingActivity" android:theme="@style/MyDialogStyle" />             
        <activity android:name="MainTopRightDialog" android:theme="@style/MyDialogStyleTop" /> 
        
        <service  android:enabled="true"
            android:name=".service.HoldingService"
            android:label="holdingService">
        </service>
        
    </application>
    

</manifest>